.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 100px 100px;
    background: rgba(255,255,255,0.06);
    border-radius: 48px;
    color: white;
    background-image: linear-gradient(to bottom rgb(34 , 80,144), white);
}

.top{
    display: flex;
    justify-content: space-between;
    padding: 0 30rpx;
    width: 90%;
}
.btn{
    font-family: 'babes';
    border: 1px solid;
    border-radius: 8px;
    padding: 8px 10px 5px 10px;
    font-size: 20px;
    margin-left: 15px;
}
.right{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.forecast{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.dits{
    font-size: 27px;
    font-family: 'babes';
    padding-left: 20px;
}

.left{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.icon{
    width: 35px;
    height: 35px;
}
.text{
    font-family: 'babes';
    font-size: 60px;
    margin: 30px;
}